html body #pdf { display: none; }
html body #container { 
     border: none;
     background: #fff;
     margin: 0em auto;
} 
html body #ft {
     margin-top: 1.5em;
}

html body .name { padding-top: 0em; }
html body .contact-info { padding-top: 1em; }
//html body .job.middle { margin-top: 30em;}