@media print {
    .resume-wrapper {
        box-shadow: none !important;
        border: none;
    }
    .container {
        max-width: 100% !important;
    }
    .resume-main {
        flex: 0 0 66.66%;
        padding-right: 3rem !important;
    }
    .resume-aside {
       flex: 0 0 33.33%; 
        padding-right: 3rem !important;
    }
}