<section class="skills-section py-3">
  <h3 class="text-uppercase resume-section-heading mb-4">
    {{ i18n "skills" }}
  </h3>

  {{ $list := .Site.Params.skills.list }}
  {{ $len := ( len $list ) }}
  {{ range $index, $element := $list }}
  <div class="item">
    <h4 class="item-title">{{ $element.title }}</h4>

    <ul
    {{ if eq (add $index 1) $len }}
    class="list-unstyled resume-skills-list"
    {{else}}
    class="list-unstyled resume-skills-list mb-4"
    {{ end }}>

      {{ range $element.items }}
      <li class="mb-2">{{ with .details }}{{ . | markdownify }}{{ end }}</li>
      {{ end }}
    </ul>
  </div>
  <!--//item-->
  {{ end }}
</section>
<!--//skills-section-->
